*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aqua;
}
nav{
    border : 2px solid black;
    margin: 50px;
    padding: 5px;
    background-color: rgb(74, 61, 87);
}
nav ul{
    display:flex;
    justify-content: center;
    list-style: none;
    color: aliceblue;
}
li{
    margin: 10px;
}
h1{
    margin: 50px;
    display:flex
}
main section ul{
    background-color: rgb(74, 61, 87);
    margin: 50px;
    padding: 10px;
    color: rgb(141, 149, 224);


}

@keyframes cambiar-color{
    0%{
        transform: translateX(0);
        background-color: green;
     }
    50%{
        transform:translateX(100px);
        background-color:blue;
    }
    100%{
        transform:translateX(0px);
        background-color:green;
    }

}

.caja-animacion{
    width: 50%;
    height: 100%;
    background-color: green;
    animation:cambiar-color 2s infinite ease-in-out;
}