*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: aqua;
    border-radius: 20px;
    margin: 30px;
}
nav{
    border : 2px solid black
}
nav ul{
    display:flex;
    justify-content: center;
    list-style: none;

}
li{
    margin: 10px;
}
h1{
    text-align: center;
}